@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-light: #b2a5ff;
  --color-primary-dark: #493d9e;
  --color-secondary: #dad2ff;
  --color-accent: #fff2af;
}

body {
  background-color: #f5f3ff;
  font-family: "Open Sans", sans-serif;
}
